{{#list-filter filter=(action 'filterByMood') as |results|}}
    <ul class="results">
        {{#each results as |filteredPalette|}}
            <li>{{palette-frame palette=filteredPalette}}</li>
        {{/each}}
    </ul>
{{/list-filter}}
{{outlet}}
