<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Palette Picker</h2>
  <p>
    Palette picker is a tool to help you pick colors and save them as palettes. 
    Save your favorites, see how they look when used in different contexts, 
    and adjust a color's balance from subtle accents to a sweeping primaries. 
  </p>
</div>