<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Palette Picker!</h2>
  <p>There's no content yet. So until then just pick your nose.</p>
  <div class="article-list">
      {{#each model as |paletteSet|}}
        {{palette-frame palette=paletteSet}}
      {{/each}}
  </div>
</div>