<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Palette Picker!</h2>
  <p>There's no content yet. So until then just pick your nose.</p>
  <div class="article-list">
    {{#list-filter
       filter=(action 'filterByMood')
       as |filteredPalettes|}}
      <ul class="results">
        {{#each filteredPalettes as |filteredPalette|}}
          <li>{{palette-frame palette=filteredPalette}}</li>
        {{/each}}
      </ul>
    {{/list-filter}}
  </div>
</div>